.nav-bar-container{
    display: flex;
     gap: 90px;
     padding-left:100px ;
     border-bottom:0.5px solid rgb(231, 222, 222);
     padding-bottom: 20px;
    
    
}

a{
    text-decoration: none; 
    margin: 20px 20px;
    color: rgb(143, 140, 140);
     font-family: sans-serif;
   
}
.nav-bar-item{
    display: flex;
    gap: 20px;
    
}
.nav-bar-item :hover
{ color: blue;}

.nav-bar{
 display: flex;
 gap: 650px;
    
}
.nav-side{
    display: flex;
    gap: 30px;
    padding-top: 10px;
    
}
.logo{
    font-size:xx-large;
    font-family: sans-serif;
    font-weight: 900;

}
.section{
    display:flex ;
    justify-content: center;
    gap: 100px;
    margin-top:200px ;
    margin-left:100px;
    margin-right: 100px;
    
}
.section1{

}
#img2{
   display: flex;
   justify-content: space-evenly;
   gap: 35px;
   padding: 5px;
}

#img-sub{
    width: 70px;
    border-radius: 10px;
    margin-top: 20px;
}

#img2 :hover { background-color: rgb(234, 255, 196);

}

#img1{
    width: 400px;
    border-radius: 20px;
}

.product-description {
    max-width: 400px;
  }
  
  .product-description span {
    display: block; 
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  #prc{
    display: flex;
  }
  
  #prc h3{
    margin: 0 13px 0 0;
    font-size: 32px;
    font-family: sans-serif;
  }

  button{
    background-color: black;
    color: white;
    border-radius: 6px;
    height: 30px;
    width: 50px;
  }
  
  .strik{
    text-decoration: line-through;
    color: rgb(143, 140, 140);
  }
  .button{
    display: flex;
    gap: 5px;
  
    
  }
  .botton1{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color:#D76920;
    background-color:whitesmoke;
    font-weight: bolder;
    font-size: larger;
    margin: auto;
    border:none;
    
    
  }

  .botton2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f37e30;
    border: none;
    gap: 10px;
    width:200px
    
    
    
  }
  #zero{
    color: black;
  }
  .minus{
    margin-bottom: 5px;
  }
  #bot{
    color: black;
    font-family: sans-serif;
    font-weight: 750;
  }

  #imgg{

  color: black;

  }
  
